{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block menu %}

    <li><a href="{{ path('index') }}">Carte</a></li>
    {% if app.user %}
        <li><a href="{{ path('user_showAccount') }}">Mon Compte</a></li>
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
    {% else %}
        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
        <li class="active">S'inscrire</li>
    {% endif %}
    <li><a href="#">Contacts</a></li>

{% endblock %}

{% block body %}

    <div class="register-box">
        {{ form_start(registrationForm) }}
        <h1>Register</h1>
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.telephone) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <span class="dl-checkbox-label-text">En soumettant ce fomulaire, j’accepte que les données renseignées dans ce formulaire soient utilisées et stockées conformément à
            l’<a target="_blank" class="dl-link dl-font-normal" href="https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000021941353&cidTexte=LEGITEXT000006072665">article L. 1111-8 du Code de la santé publique </a>.</span>


        <div class="btn-draw-box">
            <button type="submit" class="btn-draw">Register</button>
        </div>
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
