{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block menu %}

    <li><a href="{{ path('index') }}">Carte</a></li>
    {% if app.user %}
        <li class="active">Mon Compte</li>
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
    {% else %}
        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
        <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
    {% endif %}
    <li><a href="#">Contacts</a></li>


{% endblock %}

{% block body %}

    <h2>Mon compte</h2>
    <form class="shadow-box">
        <div class="segment">
            <h3>Mettre à jour mes informations :</h3>
        </div>
        <div class="form-flex form-pers">
            <div class="form-box">
                <div class="segment">
                    <h4>Mes informations</h4>
                </div>
                <label>
                    Prénom <span class="required-field">*</span> :
                    <input type="text" name="prenom" value="{{ user.prenom }}"/>
                </label>
                <label>
                    Nom <span class="required-field">*</span> :
                    <input type="text" name="nom" value="{{ user.nom }}"/>
                </label>
                <label>
                    Adresse email <span class="required-field" >*</span> :
                    <input type="text" name="email" value="{{ user.email }}"/>
                </label>
                <label>
                    Téléphone <span class="required-field">*</span> :
                    <input type="text" name="telephone" value="{{ user.telephone }}"/>
                </label>
            </div>

            <div class="form-box">
                <div class="segment">
                    <h4>Contact en cas d'urgence</h4>
                </div>
                <label>
                    Prénom <span class="required-field">*</span> :
                    <input type="text" name="contact_prenom" {% if user.contactUrgence.first %} value="{{ user.contactUrgence.first.prenom }}"{% endif %}/>
                </label>
                <label>
                    Nom <span class="required-field">*</span> :
                    <input type="text" name="contact_nom" {% if user.contactUrgence.first %} value="{{ user.contactUrgence.first.nom }}"{% endif %}/>
                </label>
                <label>
                    Adresse email :
                    <input type="text" name="contact_email" {% if user.contactUrgence.first %} value="{{ user.contactUrgence.first.email }}"{% endif %}/>
                </label>
                <label>
                    Téléphone <span class="required-field">*</span> :
                    <input type="text" name="contact_telephone" {% if user.contactUrgence.first %} value="{{ user.contactUrgence.first.telephone }}"{% endif %}/>
                </label>
            </div>

        </div>

        <div class="form-box-handi form-margin">
            <div class="segment">
                <h4>Handicap</h4>
            </div>
            <div class="form-flex">
                <div id="form-handi1">
                    <label for="TIP">
                        Taux d'incapacité permanente (en %) :
                        <input type="number" min="1" max="100" name="tx_incap_perm" class="input-num"
                                {% if user.handicap.first %} value="{{ user.handicap.first.txIncapacitePerm }}"{% endif %}>
                    </label>
                    <label for="numAggir">
                        Numéro de grille Aggir (entre 1 et 6) :
                        <input type="number" min="1" max="6" name="num_aggir" class="input-num"
                                {% if user.handicap.first %} value="{{ user.handicap.first.numAggir }}"{% endif %}>
                    </label>
                    <label for="numCategoryCPAM">
                        Numéro de catégorie CPAM (1, 2 ou 3) :
                        <input type="number" min="1" max="3" name="han_cat_cpam" class="input-num"
                                {% if user.handicap.first %} value="{{ user.handicap.first.categorieCPAM }}"{% endif %}>
                    </label>
                </div>
                <div id="form-handi2">
                    <label>
                        Selectionnez la catégorie de votre handicap <span class="required">*</span> :
                        <select id="select-handicap" name="cat_han" class="input-select">
                            <option value="">-- Choisissez la catégorie --</option>
                            {% if user.handicap.first %}
                                <option selected value="{{ user.handicap.first.typeHandicap.categorieHandicap.nom}}">{{user.handicap.first.typeHandicap.categorieHandicap.nom}}
                                </option>
                                {% else %}
                            {% endif %}

                            {% for category in allCategories %}
                                <option value="{{ category.id }}">{{ category.nom }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <label for="type_han">
                        Selectionnez le type de handicap <span class="required">*</span> :
                        <select id="select-handicap" name="type_han" class="input-select">

                            {% if user.handicap.first %}
                                <option selected value="{{ user.handicap.first.typeHandicap.id}}">{{user.handicap.first.typeHandicap.nom}}
                                </option>
                            {% else %}
                            <option value="">-- Choisissez le type --</option>
                            {% endif %}
                            {% for type in allTypesHan %}
                                <option value="{{ type.id }}">{{ type.nom }}</option>
                                {% else %}
                            {% endfor %}
                        </select>
                    </label>
                    <label>
                        Informations complémentaires :
                        <textarea rows="5" cols="60" name="infos_comp">{% if user.handicap.first %}{{ user.handicap.first.infosComplementaires}}
                             {% endif %}
                        </textarea>
                    </label>
                </div>
            </div>
        </div>

        <button class="btn-form" type="submit" name="submit">
            <i class="icon ion-md-lock"></i>
            Modifier
        </button>
    </form>

{% endblock %}
