{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block menu %}

    <li><a href="{{ path('index') }}">Carte</a></li>
    {% if app.user %}
        <li class="active">Mon Compte</li>
        <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
    {% else %}
        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
        <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
    {% endif %}
    <li><a href="#">Contacts</a></li>

{% endblock %}

{% block body %}

    <h2>Mon compte</h2>
    <form class="shadow-box infos-compte">
        <div class="segment">
            <h3>Mettre à jour mes informations :</h3>
        </div>

        <div class="segment">
            <h4>Mes informations</h4>
        </div>
        <p><u>Prénom</u> :  {{ user.prenom }}</p>
        <br>
        <p><u>Nom</u> :  {{ user.nom }}</p>
        <br>
        <p><u>Adresse email</u> :  {{ user.email }}</p>
        <br>
        <p><u>Téléphone</u> :  {{ user.telephone }}</p>

        <div class="segment">
            <h4>Contact en cas d'urgence</h4>
        </div>
        <p><u>Prénom</u> : {% if user.contactUrgence.first %} {{ user.contactUrgence.first.prenom }} {% else %} A indiquer {% endif %}</p>
        <br>
        <p><u>Nom</u> :  {% if user.contactUrgence.first %}{{ user.contactUrgence.first.nom }}{% else %} A indiquer {% endif %}</p>
        <br>
        <p><u>Adresse email</u> : {% if user.contactUrgence.first %}{{ user.contactUrgence.first.email}} {% else %} A indiquer {% endif %}</p>
        <br>
        <p><u>Téléphone</u> :  {% if user.contactUrgence.first %}{{ user.contactUrgence.first.telephone}} {% else %} A indiquer {% endif %}</p>

        <div class="segment">
            <h4>Handicap</h4>
        </div>
        <p><u>Taux d'incapacité permanente</u> : {% if user.handicap.first %}{{ user.handicap.first.txIncapacitePerm}} {% else %} A indiquer {% endif %}</p>
        <br>
        <p><u>Numéro de grille Aggir</u> : {% if user.handicap.first %}{{ user.handicap.first.numAggir}} {% else %} A indiquer {% endif %}</p>
        <br>
        <p><u>Numéro de catégorie CPAM</u> : {% if user.handicap.first %}{{ user.handicap.first.categorieCPAM}} {% else %} A indiquer {% endif %}</p>
        <br>
        <p><u>Catégorie de handicap</u> : {% if user.handicap.first %}{{ user.handicap.first.typeHandicap.categorieHandicap.nom}} {% else %} A indiquer {% endif %}</p>
        <br>
        <p><u>Type de handicap</u> : {% if user.handicap.first %}{{ user.handicap.first.typeHandicap.nom}} {% else %} A indiquer {% endif %}</p>
        <br>
        <p>
            <u>Informations complémentaires</u> :
            <br>
            {% if user.handicap.first %}{{ user.handicap.first.infosComplementaires}} {% else %} A indiquer {% endif %}
        </p>


        <a href="{{ url('user_account') }}"><button class="btn-form" type="button">
            <i class="icon ion-md-lock"></i>
            Modifier
        </button>
        </a>

    </form>

{% endblock %}
